<html>
  <head>
      <title>nextstep</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     
    </head>
    <body background="{{ url_for('static', filename='background.jpg') }}" >
      <header style="height: 50px; background-color: black;">
        <div style="text-align: right; color: white;font-weight: 100; font-size: xx-large;width: 50%;">NEXTSTEP</div>
      <div style="position: fixed; 
      right:1%;
      top: 0.5%;
      text-align: right; 
      
      font-weight: 100; 
      font-size: xx-large;
      width: 30%;">
      <a href="{{url_for('signup')}}" style="color: white; padding-right: 2%;">About |</a>
      <a href="{{url_for('signup')}}" style="color: white; padding-right: 2%;">Contact us |</a>
      <a href="{{url_for('signup')}}" style="color: white;">Log out</a>
    </div>  
      
    </header>
          <div style="width: 48%; height: 50%; text-align: center;">
            
      <img src="{{url_for('static', filename='Capture.PNG')}}" align="centre" style="width:350px;height:350px;bottom: 10%;" /> 
          </div>

        <div style="position: fixed;
         bottom: 2.5%;
             left: 2%;
             width: 50%;
              height: 55%;
              padding-right: 6%;
              padding-top: 3%;
        background-color: #CDECF3;">
          <div style="position: fixed;
          bottom: 50%;
          left: 5%;
         width: 35%;

          background-color: #F2F2F2;text-align: center;
          font-size:xx-large;">
          Pinned Internships 
       </div>
       <div style="position: fixed;
       bottom: 26.5%;
       left: 10%;
       width:11.5%;height:23%;
       background-color: white ;
       border-radius: 30%; border-style: solid; border-color: white;padding-top: 4%;"
       >
        
     </div>

     <div style="position: fixed;
       bottom: 26.5%;
       left: 23%;
       width:11.5%;height:23%;
       background-color: white ;
       border-radius: 30%; border-style: solid; border-color: white;padding-top: 4%;"
       >
       
     </div>

     <div style="position: fixed;
       bottom: 3%;
       left: 10%;
       width:11.5%;height:23%;
       background-color: white ;
       border-radius: 30%; border-style: solid; border-color: white;padding-top: 4%;"
       >
     </div>

     <div style="position: fixed;
       bottom: 3%;
       left: 23.5%;
       width:11.5%;height:23%;
       background-color: white ;
       border-radius: 30%; border-style: solid; border-color: white;padding-top: 4%;"
       >
 </div>

        <div style="position: fixed;
        bottom: 2%;
        right: 3%;
        width: 50%;
        height: 90%;
        background-color: #f2f2f2;
        overflow-y: scroll;">
          <div style="position: fixed;
          top: 15%;
          right: 7%;
         width: 40%;
          height: 5%;
          background-color: #FF7994;text-align: center;
          font-size:xx-large;">
           Available Internships
          </div>
      
          <div style="position: fixed;
          bottom: 2%;
          right: 3%;
          width: 50%;
          height: 70%;
          background-color: #f2f2f2;
          overflow-y: scroll;">
        <div style="position: fixed;
        top: 23%;
        right: 11%;
       width: 30%;
        height: 15%;
        text-align: center;
        border-style: solid;
        border-color: black;
        border-radius: 10%">
        
        </div>

        <div style="position: fixed;
        top: 43%;
        right: 11%;
        width: 30%;
        height: 15%;
        text-align: center;
        border-style: solid;
        border-color: black;
        border-radius: 10%">
        
        </div>

        <div style="position: fixed;
        top: 63%;
        right: 11%;
       width: 30%;
        height: 15%;
        text-align: center;
        border-style: solid;
        border-color: black;
        border-radius: 10%">
        
        </div>

        <div style="position: fixed;
        top: 83%;
        right: 11%;
        width: 30%;
        height: 15%;
        text-align: center;
        border-style: solid;
        border-color: black;
        border-radius: 10%">
        
        </div>
          </div>
        </div>
      </body>

</html>