<html>
  <head>
      <title>nextstep</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     
    </head>
    <body background="{{ url_for('static', filename='background.jpg') }}" >
      <header style="height: 50px; background-color: black;">
        <div style="text-align: right; color: white;font-weight: 100; font-size: xx-large;width: 50%;">NEXTSTEP</div>
      <div style="position: fixed; 
      right:1%;
      top: 0.5%;
      text-align: right; 
      
      font-weight: 100; 
      font-size: xx-large;
      width: 30%;">
      <a href="{{url_for('home.register')}}" style="color: white; padding-right: 2%;">About |</a>
      <a href="{{url_for('home.register')}}" style="color: white; padding-right: 2%;">Contact us |</a>
      <a href="{{url_for('home.register')}}" style="color: white;">Log out</a>
    </div>  
      
    </header>
          <div style="width: 48%; height: 50%; text-align: center;">
            
      <img src="{{url_for('static', filename='Capture.PNG')}}" align="centre" style="width:350px;height:350px;bottom: 10%;" /> 
          </div>

        <div style="position: fixed;
         bottom: 2.5%;
             left: 2%;
             width: 50%;
              height: 55%;
              padding-right: 6%;
              padding-top: 3%;
        background-color: #CDECF3;">
          <div class="container" style=" width: 60%; padding-right: 5px; border-radius: 25px; border-width: thin; border-style: solid; margin-top: 2%;">
            <div class="container" style="width: 100%; padding: 10% 5%;">

              <h2 style="text-align: center;">Your current Mentees</h2>
              <label>Name: </label>
            </br>
            <label>Name: </label>
          </br>
          <label>Name: </label>
          <div class="d-flex justify-content-center">

            <button type="submit" class="btn btn-info" style="margin-top: 2%;background-color: black;">Chat</button>
            <button type="submit" class="btn btn-info" style="margin-top: 2%;background-color: black;">Add new mentee</button>
          </div>
              </div>
              </div>
        </div>

        <div style="position: fixed;
        bottom: 2%;
        right: 3%;
        width: 50%;
        height: 90%;
        background-color: #f2f2f2;">
           <div style="position: fixed;
           top: 10%;
           right: 7%;
          width: 40%;
           height: 5%;
           background-color: #FF7994;text-align: center;
           font-size:xx-large;">
            WELCOME MENTOR
           </div>
 
           <div style="position: fixed;
           top: 16%;
           right: 7%;
          width: 40%;
           height: 5%;
           background-color: #FF7994;text-align: center;
           font-size:xx-large;">
            CURRENT OPPORTUNITIES
           </div>
 
         <div style="position: fixed;
         top: 23%;
         right: 11%;
        width: 30%;
         height: 25%;
         text-align: center;
         border-style: solid;
         border-color: black;
         border-radius: 10%">
         
         </div>
 
         <div style="position: fixed;
         top: 50%;
         right: 11%;
         width: 30%;
         height: 25%;
         text-align: center;
         border-style: solid;
         border-color: black;
         border-radius: 10%">
         
         </div>
        </div>
      </body>

</html>