<html>
  <head>
      <title>nextstep</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     
    </head>
    <body background="{{ url_for('static', filename='background.jpg') }}" >
      
        <div style="width: 45%; height: 50%; text-align: center;">
          
    <img src="{{url_for('static', filename='Capture.PNG')}}" align="centre" style="width:400px;height:400px;" /> 
        </div>

        <div style="position: fixed;
         bottom: 2.5%;
             left: 2%;
             width: 50%;
              height: 55%;
              padding-right: 6%;
              padding-top: 3%;
        background-color: #CDECF3;
        text-align: center;">
          <h2>WHO ARE YOU?</h2>
          
            <div class="d-flex justify-content-center">
      
              <button type="submit" class="btn btn-info" style="margin-top: 2%;background-color: black; width: 35%;font-size: x-large;"><a href="{{url_for('home.student_register')}}" style="color: white;">Student</a></button>
            </div>
            <div class="d-flex justify-content-center">
      
              <button type="submit" class="btn btn-info" style="margin-top: 2%;background-color: black; width: 35%;font-size: x-large;"><a href="{{url_for('home.professional_register')}}" style="color: white;">Mentor</a></button>
            </div>
            <div class="d-flex justify-content-center">
      
              <button type="submit" class="btn btn-info" style="margin-top: 2%;background-color: black; width: register35%;font-size: x-large;"><a href="{{url_for('home.institution_register')}}" style="color: white;">Company</a></button>
            </div>
            <div class="d-flex justify-content-center">
      
              <button type="submit" class="btn btn-info" style="margin-top: 2%;background-color: black; width: 35%;font-size: x-large;"><a href="{{url_for('home.institution_register')}}" style="color: white;">Academic Institution</a></button>
            </div>
          </br>
          <p>Already have an account? <a href="{{url_for('home.login')}}">SIGN IN</a></p>
            </div>

            <div style="position: fixed;
            bottom: 2%;
            right: 3%;
            width: 50%;
            height: 95%;
            background-color: #f2f2f2;
            text-align: center;">
             <div style="position: fixed;
             top: 5%;
             right: 7%;
            width: 40%;
             height: 5%;
             background-color: #FF7994;text-align: center;
             font-size:xx-large;">
              YOUR FUTURE AWAITS
             </div>
        
            <div style="position: fixed;
            bottom: 5%;
            right: 3%;
            width: 50%;"
            >
             <img src="{{url_for('static', filename='signin.png')}}" align="centre" style="width:500px;height:500px;" /> 
            </div>
            </div>
          </body>
      </body>

</html>